.box{
	background: #efefef;
}
.tishi{
	font-size: 24px;
	color: #000;
	margin: 25px 0 0 25px;
}
.shezhi{
	width: 100px;
	height: 40px;
	background: #f00;
	color:#fff;
	font-weight: 900;
	margin-top: 20px;
}
.div1{
	width: 100px;
	height: 100px;
	background: #fff;
	border: 4px solid #393129;
	margin-top: 20px;
	margin-left: 25px;
}
.box1{
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}
.hezi{
	width: 340px;
	height: 240px;
	background: #9c949c;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.xiaohezi{
	width: 267px;
	height: 192px;
	background: #fff;
	margin: 20px 0 0 20px;
	padding-top: 8px;
	padding-left: 33px;
}
.p1{
	width: 235px;
	height: 32px;
	color: #000;
	margin-bottom: 8px;
}
.p1 span{
	line-height: 32px;
	font-size: 16px;
}
.p1 input:hover{
	border: 1px solid #000;
	background: #ef9400;
	color: #000;
}
.hong{
	width: 36px;
	height: 32px;
	background: #9cce00;
	color: #fff;
	margin-right: 5px;
}
.huang{
	background: #efbd00;
	color: #ff0;
}
.lan{
	background: #5a94ef;
	margin: 0;
}
.kuan1{
	width: 34px;
	height: 30px;
	border: 1px solid #c0c0c0;
	background: #efefef;
	color: #847b84;
	margin-right: 5px;
}
.kuan2{
	margin: 0;
}
.p2{
	margin-left: 53px;
	margin-top: 20px;
}
.p2 input{
	width: 60px;
	height: 30px;
	background: #002952;
	color: #fff;
	margin-right: 4px;
}




















