#box div{
	width: 100px;
	height: 50px;
	background: url(../images/timg.jpg) no-repeat;
	position: absolute;
	border: 1px solid #fff;
	transition: .3s;
	transform: scale(1);
	opacity: 0;
}
#box div:hover{
	transform: scale(1.5);
	z-index: 999;
}