/* CSS Document */
body,h1,h2,h3,h4,h5,h6,p,dl,dd{
	margin:0;
	font-weight:normal;
	font-size:12px;
	font-family:"宋体";
	line-height:1;
}
a{
	text-decoration:none;
	color:inherit;	
}
ul,ol{
	list-style:none;
	margin:0;
	padding:0;	
}
b,strong{
	font-weight:normal;	
}
i,em{
	font-style:normal;	
}
mark{
	background:none;
	color:inherit;	
}
img{
	border:none;
	vertical-align:top;	
}
.fl{
	float:left;		
}
.fr{
	float:right;	
}
.clearfix:after{
	content:"";
	display:block;
	clear:both;
	height:0;
	overflow:hidden;	
}
.clearfix{	
	zoom:1;	
}
input,fieldset,textarea{
	padding:0;
	border:0;
	background:none;
	margin:0;
	vertical-align:top;
}





