
.nav{
    position: fixed;
    top: 0;
    left: 0;
}
.nav ul{
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.nav ul li{
    perspective: 1000px;
    -webkit-font-smoothing: antialiased;
}
.nav ul li .just{
    width: 255px;
    height: 49px;
    position: absolute;
    top: 0;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding-left: 19px;
    background: #000;
    transform-origin: bottom;
    transform: rotateX(90deg);
    transition: .2s;
    transform-origin: 50% 50% -25px;
    transition: all 0.2s ease;
}
.nav ul li:hover .just{
    transform: rotateX(0deg);
    border-bottom: 1px solid transparent;
}
.nav ul li:hover .back{
    transform: rotateX(-90deg);
}
.nav ul li .back{
    position: absolute;
    top: 0;
    width: 255px;
    height: 49px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding-left: 19px;
    background: #fff;
    transform-origin: bottom;
    transform: rotateX(0deg);
    transition: .2s;
    transform-origin: 50% 50% -25px;
    transition: all 0.2s ease;
}
.nav ul li h2{
    font-family: "TrumpGothicEastBold", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 30px;
    letter-spacing: 1px;
    font-weight: 900;
}
.nav ul li .back h2{
    color: #808080;
}
.nav ul li .no_bor{
    border-left: 1px solid transparent;
}
.nav ul .last{
    width: 251px;
}
.nav ul li span{
    display: inline-block;
    width: 16px;
    height: 3px;
    background: #de4d47;
}
.nav ul li .back span{
    background: #7c7c7c;
}
.content{
    padding-top: 195px;
    background: #000;
}
.logo{
    font-size: 0;
    margin-left: 192px;
}
.plus{
    margin: 40px 21px 0 21px;
}
.shots{
    width: 84px;
    height: 84px;
    background: transparent;
    border: 8px solid #fff;
}
 .bor_1{
    width: 82px;
    height: 82px;
    background: transparent;
    border:1px solid #555;
    color: #fff;
    text-align: center;
    line-height: 82px;
    font-size: 24px;
    font-weight: 900;
    font-family: "TrumpGothicEastBold", Arial, Helvetica, sans-serif;
} 