/* CSS Document */
body,h1,h2,h3,h4,h5,h6,p,dl,dd{
	margin:0px;
	font-weight:normal;
	font-size:12px;
	font-family:"宋体";
	line-height:1;
}
body{
	background:#fff;	
}
a{
	text-decoration:none;
	color:inherit;
	*color:black;	
}
ul,ol{
	list-style:none;
	margin:0px;
	padding:0px;	
}
b,strong{
	font-weight:normal;	
}
em,i{
	font-style:normal;	
}
mark{
	background:none;
	color:inherit;
	color:#cc6600;
}
img{
	vertical-align:top;	
	border:0px;
}
input,fieldset,textarea{
	margin:0;
	padding:0;
	border:0;
	background:none;
	resize:none;
	outline:none;
	vertical-align:top;
}
form{
	margin:0;
}
