ul{
	list-style:none;
	padding:0;
	margin:0;
}
*{
	margin:0;
	padding:0;
}
.box{
	width:1065px;
	height:544px;
	padding:256px 0 0 135px; 
	background:url(../images/bg.png);
	margin:0 auto;
	overflow: hidden;
}
.same{
	width:450px;
	height:260px;
	border-radius: 10px;
	background:#fff;
	//margin:0 auto;
}
.bottom-content{
	display: none;
	padding:20px 0 0 20px;
	height:200px;
	width:430px;
}
.list-top{
	height:40px;
	background:#fff7e2;
	border-top-left-radius: 10px ;
	border-top-right-radius: 10px ;
}
.list-top li{
	height:40px;
	width:150px;
	float:left;
	line-height:40px;
	text-align: center;
	color:#ffbb54;
}
.img{
	float:left;
	width:180px;
	height:180px;
	margin-right:10px;
}
.newList{
	float:left;
	width:220px;
	height:180px;
}
.newList li{
	padding-left:10px;
	background:#fffdf9;
	height:60px;
}
.newList h3{
	font-size: 14px;
	color:#ff9536;
	height:14px;
	padding:16px 0 10px 0;
}
.newList p{
	font-size: 10px;
	color:#fdd79f;
	height:14px;
}
.active{
	background:#ffffff;
	text-decoration: underline;
}
.activeNew{
	background:#ffb746;
}
.color1{
	color:#fff;
}
.color2{
	color:#fdd79f;
}